
body{
    background-color: #222831;
    padding: 0;
    margin: 0;

}
.container{
    padding: 50px;
    margin-top: 0;
    height: 100vh;
}
.hero{
    background-color: #393E46;
    height: 650px;
    top: 100px;
    margin: 0;
    position: relative;
    border-radius: 27px;
    padding: 0;
    width: 100%;
    max-width: 1650px;
}
.profile{
    height:650px;
    width: 650px;
    background-color: #948979;
    border-radius: 50%;
    position: relative;
    top: -600px;
    left: 1120px;
    
}
.profile-pic{
    height:650px;
    width: 650px;
}
h1{
    color: #DFD0B8;
    font-size: 200px;
    position: relative;
    top: 40px;
    left: 80px;
    margin: 0;
    z-index: 2;
    font-family: "Kingred", serif;
    letter-spacing: 35px;

}
.h1bg{
    height: 120px;
    width: 650px;
    background-color: #948979;
    padding: 0;
    margin: 0;
    position: relative;
    left: 60px;
    top: -45px;
    z-index: 1;
}
@font-face {
  font-family: "Kingred"; /* You choose the name to use in other CSS rules */
  src: url("kingred.otf") format("opentype"); /* Specify the path to your file and the format */
}
.int{
    margin: 0;
    padding: 0;
}
.prog{
    color: #DFD0B8;
    font-size: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -30px;
    left: 80px;
    z-index: 2;
}
.h3bg{
    height: 25px;
    width: 900px;
    background-color: #948979;
    position: relative;
    top: -50px;
    left: 60px;
    z-index: 1;

}
.aboutme{
    height:200px;
    width: 750px;
    margin: 0;
    padding: 0;
}
.metext{
    color: #DFD0B8;
    font-size: 40px;
    font-family: "Kingred", serif;
    position: relative;
    left: 80px;
    padding: 0%;
    margin: 0;
    top:-10px;
}
.myskills{
    color: #DFD0B8;
    font-size: 60px;
    font-family: "Kingred", serif;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}
.skill{
    width: 100%;
}
#skills{
    background-color: #393E46;
}
.skillcol{
    display:flex;
    justify-content: space-around;
}
.sb{
    height: auto;
    width: 500px;
    background-color: #222831;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sh{
    color:#DFD0B8;
    font-family: "Kingred", serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.sp{
    color: #948979;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-top: 0;
    width: 400px;
    position: relative;
    left: 50px;
}
.si{
    height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    height: 450px;
    width: 450px;
    object-fit: cover;
}
.sib{
    display: flex;
    justify-content: center;
    margin: 20px;
}
#projects{
    display: flex;
    justify-content: center;
}
.ph{
    color:#DFD0B8;
    font-family: "Kingred", serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 30px;
}
.plistb{
    background-color: #948979;
    height: 650px;
    width: 1650px;
    max-width:1650px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.pname{
    font-size: 50px;
    color: #DFD0B8;
    transition: color 0.3s ease;
}
.pname:hover {
    color: #393E46;
    transform: scale(1.1);
}
.plink{
    text-decoration: none;
}
.plist{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-container{
    height: 65vh;
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fgreet{
    color: #DFD0B8;
    font-size: 140px;   
    font-family: "Kingred", serif;
    padding: 50px;
    margin-bottom: 0;
}
.fp{
    color: #948979;
    font-size: 60px;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.contact{
    background-color: #948979;
    color: #DFD0B8;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 50px;
    border-style: none;
}
.contact:hover{
    background-color: #DFD0B8;
    color: #393E46;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
#footer-container{
    height: 15vh;
    
}
#contact-container{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.copyright{
    color: #ffffff;
    font-size: 15px;
    padding: 20px;
    display: flex;
    justify-self: center;
    position: relative;
    left: 20px;
}
.flist{
    list-style-type: none;
    display: flex;
    justify-self: center;
    gap: 250px;
    padding: 0;
    margin: 0;
}
.listcont{
    display: flex;
    justify-content: center;    
}
.flink{
    text-decoration: none;
    color: #948979;
}
.flink:hover{
    color: #ffffff;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
    .container{
        padding: 10px;
        margin: 10px;
        height: 30vh;
    }
    #hero > .container{
        height: 45vh;
    }
    .hero{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: left;
        top: 0px;
    }
    h1{
        font-size: 10vh;
        letter-spacing: 4px;
        top: 20px;
        left: 20px;
    }
    .h1bg{
        height: 5vh;
        width: 70%;
        position: absolute;
        top: 15%;
        left: 10px;
    }
    .int{
        height: auto;
        width: 70%;
        position: absolute;
        top: 25%;
    }
    .prog{
        font-size: 2vh;
        top: 10px;
        left: 20px;
    }
    .h3bg{
        height: 1.1vh;
        width: 80%;
        position: absolute;
        top: 30%;
        left: 10px;
    }
    .aboutme{
        position: absolute;
        height: auto;
        width: 50%;
        top: 45%;
    }
    .metext{
        font-size: 2.5vh;
        top: -4vh;
        left: 20px;
    }
    .profile{
        position: relative;
        left: 55%;
        top: -27vh;
        height: 25vh;
        width: 25vh;
    }
    .profile-pic{
        height: 25vh;
        width: 25vh;
    }
    #skills > .container{
        height: auto;
    }
    .skill{
        margin-bottom: 20px;
        padding: 0;
    }
    .myskills{
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }
    .skillcol{
        flex-direction: column;
        align-items: center;
    }
    .sb{
        width: 30vh;
        height: auto;
        margin-bottom: 20px;
    }
    .sh{
        font-size: 1.5rem;
    }
    .sp{
        font-size: 2vh;
        width: 90%;
        left: 5%;
        display: flex;
        justify-self: center;
    }
    .si{
        width: 25vh;
        height: 25vh;
        object-fit: cover;
    }
    .ph{
        font-size: 1.5rem;
        padding: 0;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .plistb{
        width: 80vw;
        height: auto;
        padding: 20px;
        display: flex;
        justify-self: center;
    }
    .plist{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .pname{
        font-size: 1.5rem;
    }
    #projects > .container{
        height: auto;
    }
    .fgreet{
        font-size: 3rem;
        padding: 20px;
        width: auto;
        margin: 0;
    }
    #contact-container{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 50vh;
    }
    .fp{
        font-size: 30px ;
    }
    .contact{
        scale: 70%;
    }
    #footer-container{
        height: 15vh;
        width: auto;
    }
    .flist{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .copyright{
        font-size: 0.5rem;
        position: relative;
        left: 0;
    }
}
